.pop-top {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.2s ease;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1001;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 20px;
    color: white;
}

.pop-success {
    background-color: green;
}

.pop-error {
    background-color: rgb(186, 12, 0);
}

.pop-warning {
    background-color: #D98210;
}

.pop-info {
    background-color: #191680;
}

.pop-close {
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}

.pop-input {
    padding: 10px 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

.pop-confirm {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
}

.pop-buttonGroup {
    display: flex;
    justify-content: center;
}

.pop-btn {
    padding: 10px 20px;
    border: 2px solid black;
    margin: 5px;
    font-size: 17px;
    background-color: white;
    color: black;
    transition: all 0.4s;
    cursor: pointer;
}

.pop-btn:hover {
    background-color: white;
}

.pop-cancelButton:hover {
    border-color: red;
    color: red;
}

.pop-yesButton:hover {
    border-color: green;
    color: green;
}

.pop-svg {
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    margin-right: 10px;
}

.inputPopsText {
    margin-bottom: 10px;
}

.inputPopsButtons {
    margin-top: 30px;
}

@media (max-width:570px) {
    .pop-top {
        max-width: 80%;
        width: 100%;
        font-size: 19px;
        display: flex;
    }

    .pop-confirm {
        justify-content: start;
        align-items: center;
        text-align: center;
        backdrop-filter: blur(100px);
        background-color: rgb(255, 255, 255);
        padding: 10px;
        font-size: 23px;
    }

    .pop-input {
        margin-bottom: 10px;
    }
}